# Ignore everything by default
*

# Include only the SDK files
!lib/
!lib/**
!src/
!src/index.js
!src/stacks-sdk.js
!src/constants.js
!src/types.js
!contracts/
!contracts/contracts/*.clar
!package.json
!README.md
!LICENSE
!CHANGELOG.md
