# Stacks Network Configuration
VITE_STACKS_NETWORK=mainnet
VITE_CONTRACT_ADDRESS=SP1YH5MXTJT86BZXMFA2T51JF0QVZ8XNYV33QH6MF

# Game Configuration
VITE_SCORE_FEE=5000
VITE_GAME_SPEED_INITIAL=4
VITE_GAME_SPEED_INCREMENT=0.015
